@font-face {
    /* Load the Roboto Font */
    font-family: 'RobotoRegular';
    src: url("font/Roboto-Regular.ttf");
    font-weight: regular;


}

@font-face {
    /* Load the Roboto Font */
    font-family: 'RobotoBold';
    src: url("font/Roboto-Bold.ttf");
    font-weight: bold;


}

@font-face {
    /* Load the Roboto Font */
    font-family: 'RobotoLight';
    src: url("font/Roboto-Light.ttf");
    font-weight: light;


}

@font-face {
    /* Load the Roboto Font */
    font-family: 'RobotoThin';
    src: url("font/Roboto-Thin.ttf");
    font-weight: thin;


}

@import url('https://css.gg/play-button.css');

body {
    /* Margin and Padding of the page */
    margin: 0;
    padding: 0;
    background-color: #151515;
}

a {
    text-decoration: none;
}

.whitebutton {
    /* Dimensions & Position */

    width: 50%;
    height: 55px;

    /* design */

    background: #fafafa;

    border-radius: 10px;
    border-style: outset;
    border-width: 0px;



    /* text parameters */
    font-family: "RobotoLight";
    text-align: center;
    line-height: 55px;
    font-weight: 400;
    font-size: 1em;
    color: #000000;
}

.whitebutton:hover {

    background: #dadada;
    border-radius: 10px;
    border-style: outset;
    border-width: 0px;


    /* text parameters */
    font-family: "RobotoLight";
    text-align: center;

    font-weight: 500;
    font-size: 0.9em;
    color: #202020;

}

.redbutton {
    /* Dimensions & Position */

    width: 50%;
    height: 55px;

    /* design */

    background: #C1272D;

    border-radius: 10px;
    border-style: outset;
    border-width: 0px;

    border-color: #C1272D;

    /* text parameters */
    font-family: "RobotoLight";
    text-align: center;
    line-height: 55px;
    font-weight: 400;
    font-size: 1em;
    color: #ffffff;
}

.redbutton:hover {

    background: #801a1d;

    border-color: #801a1d;
    /* text parameters */
    font-family: "RobotoLight";
    text-align: center;

    font-weight: 500;
    font-size: 0.9em;
    color: #ffffff;

}


/**HOMEPAGE**/



/* Navigation Bar Style */
.header-main {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    /* Position the navbar at the bottom of the page */
    width: 100%;
    /* Full width */
    background: rgba(32, 32, 32, 0.9);
    background-blend-mode: darken;
    background-size: cover;
    backdrop-filter: blur(8px);

}

.logo {
    /*define the parameters of "logo"*/
    width: 48px;
    margin-left: 25px;
    color: #eaeaea;
}

.navbar {
    /* Navigation Bar */
    display: flex;


    align-items: center;
    justify-content: space-between;
    height: 70px;


    cursor: pointer;


}

.nav-list {
    /* Dimension of the navigation list */

    display: flex;
}

.nav-list li {
    /* Style of navigation text */

    list-style: none;
    font-family: "RobotoLight";
    font-size: 1em;
    color: #eaeaea;
    padding: 26px 20px;
    margin-right: 20px;
}

.nav-list li a {
    /* Style of navigation text link */

    text-decoration: none;
    color: #eaeaea;
    font-weight: 200;
}

.nav-list li a:hover {
    /* Style of navigation text with selected */
    color: #aaaaaa;
    font-weight: 400;
}

.LoginButton {

    /* Dimensions & Position */

    width: 110px;
    height: 40px;
    margin-right: 50px;

    /* design */

    background: #C1272D;

    border-radius: 10px;
    border-style: outset;
    border-width: 0px;

    border-color: #C1272D;

    /* text parameters */
    font-family: "RobotoLight";
    text-align: center;

    line-height: 40px;

    font-size: 90%;
    color: #ffffff;


}

.LoginButton:hover {

    background: #801a1d;

    border-radius: 10px;
    border-style: outset;
    border-width: 0px;

    border-color: #801a1d;
    /* text parameters */
    font-family: "RobotoLight";
    color: #ffffff;

}







/* --- HomePage Panel 1  --- */



#Panel1 {
    /*define the parameters of "rectangle" */

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 18em 0px 0px;
    text-decoration: none;
    background-color: rgba(32, 32, 32, 0.9);
    padding-bottom: 25%;






}

#background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.socialbutton {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 10px 5px 5px;
    gap: 12em;

    width: 15em;

    /* Primary/50 */

    background: #eaeaea;

    border-radius: 16px;
    border-style: none;

    /* text parameters */

    font-family: "RobotoRegular";
    font-weight: 300;
    font-size: 1em;
    color: #C1272D;



}


.socialbutton:hover {
    background: #cccccc;
    color: #801a1d;
}

.hometext1 {
    /*define the parameters of "hometext1" */

    font-family: "RobotoBold";
    font-size: 5em;
    color: #eaeaea;
    text-align: center;
    line-height: 0;
}

.hometext2 {
    /*define the parameters of "hometext2" */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    font-family: "RobotoThin";
    font-size: 1.2em;
    color: #aaaaaa;
    text-align: center;
    padding-bottom: 10%;
    width: 90%;
}



.section2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 25em;
    margin: 0 auto;

}






/* --- HomePage Panel 2  --- */

#Panel2 {

    width: 100%;
    background-color: #151515;
}


#section3 {

    width: 100%;

    height: auto;
    display: flex;
    flex-direction: column;


    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 5em;

    align-items: center;
    align-content: center;
    text-align: center;


}


.about {

    display: flex;
    flex-direction: column;


    font-family: 'RobotoRegular';
    font-size: 1em;

    text-align: center;

    color: #C1272D;
}

.title1 {
    display: flex;
    flex-direction: column;
    width: auto;

    font-family: 'RobotoBold';
    font-size: 2em;

    color: #eaeaea;
}

.paragraphe1 {
    display: flex;
    flex-direction: column;
    height: 12em;

    font-family: 'RobotoLight';
    font-size: 1.1em;
    line-height: 1.5em;

    color: #eaeaea;
}


#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;



}

.gridrow {

    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 30px;
    gap: 32px;

}

#arg {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 33%;


}

.icon-arg {

    background: #eaeaea;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;

}

#sectiontitle {

    font-family: 'RobotoLight';
    font-size: 1em;
    text-align: center;
    line-height: 20%;
    margin-bottom: 10px;
    color: #eaeaea;
}

#infos {
    font-family: 'RobotoLight';
    font-size: 1em;
    text-align: center;
    color: #999999;

}

#icon-arg-set {

    height: 30px;
    margin-top: 15px;


}






/* --- HomePage Panel 3  --- */


#Panel3 {
    width: 100%;
    background-color: #202020;

}

#section4 {

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;

    height: auto;
    width: 60%;

    text-align: center;

}

#bestreview {

    padding-top: 2em;
    margin-bottom: 1em;

    font-family: 'RobotoRegular';
    font-size: 2.5em;
    line-height: 1.1em;


    color: #eaeaea;

}

#bestreview-id {

    margin: 10px;
    height: 60px;
    width: 60px;
    border-radius: 100%;

    background-color: #eaeaea;
    border-color: #eaeaea;


    font-family: 'RobotoRegular';
    font-size: 2em;
    color: #202020;
    line-height: 60px;
    /*Doit correspondre a la valeur du height et du width*/
}

#bestreview-name {

    width: auto;

    font-family: 'RobotoLight';
    font-size: 1em;
    line-height: 1.5em;

    color: #eaeaea;

}

#bestreview-date {

    width: auto;
    margin-bottom: 50px;

    font-family: 'RobotoLight';
    font-size: 1em;
    line-height: 1.5em;

    color: #999999;

}








/* -------- Footer -------- */





/*--- NEWSLETTER --- */


#footer-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C1272D;



}

#newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;


    margin-top: 50px;
    margin-bottom: 50px;

}

#newsletter-section-text {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 55vw;


}

#news-title {

    font-family: 'RobotoRegular';
    font-size: 1.2em;
    color: #eaeaea;


}

#news-info {

    font-family: 'RobotoThin';
    font-size: 0.9em;
    color: #eaeaea;


}

.newsletter-form-input {
    display: flex;
    flex-direction: column;

}

#email {

    width: 250px;
    height: 20px;
    padding: 10px;


    /* design */

    background: #eaeaea;

    border-radius: 10px;
    border-style: outset;
    border-width: 0px;

    border-color: #eaeaea;

    /* text parameters */
    font-family: "RobotoLight";
    font-size: 0.9em;
    color: #202020;

}

#submit-button {
    width: 110px;
    height: 42px;

    background: #801a1d;

    border-radius: 10px;
    border-style: outset;
    border-width: 0px;

    font-family: "RobotoLight";
    font-size: 1em;
    color: #eaeaea;

}

#submit-button:hover {
    width: 110px;
    height: 42px;

    background: #151515;

    border-radius: 10px;
    border-style: outset;
    border-width: 0px;

    font-family: "RobotoLight";
    font-size: 1em;
    color: #eaeaea;

}

input[type=text] {
    text-align: right;
}





/*--- LEGALS LINKS --- */


#footer-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto 0;

    background-color: #801a1d;

}

#footerlegal {
    display: flex;
    justify-content: space-between;
    width: 80%;

}

.footerlinks {

    color: #ffffff;
    font-family: "RobotoThin";
    padding: 0px 30px 0px 0px;
    font-size: 0.9em;
    text-decoration: none;

}

#footercopyright-text {

    color: #ffffff;
    font-family: "RobotoThin";
    padding: 0px 0px 0px 30px;
    font-size: 0.9em;
    text-decoration: none;

}